@media (max-width: 767px) {
	.center {
		padding: 0 16px;
		justify-content: center;
		align-items: center;
	}
	.header {
		padding-top: 238px;
		gap: 33px;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.top {
		height: 735px;
		&__text {
			max-width: 343px;
			font-size: 14px;
			font-style: normal;
			font-weight: 300;
			line-height: 22px;
			// margin-bottom: 33px;
		}
		&__text span{
			font-size: 14px;
			font-weight: 700;
			line-height: 22px;
		}
	}
	
	.title {
		max-width: 343px;
		font-size: 32px;
		justify-content: center;
		align-items: center;
	}
	
	.games {
		// height: 1221px;
		padding-top: 128px;
		padding-bottom: 128px;
		display: grid;
		gap: 32px;
		grid-template-columns: repeat(12, 1fr);
		&__item {
			grid-column: 1/-1;
			&-link{
				left: 16px;
			}
		}
		
		&__item-1{
			width: 100%;
		}
		&__item-2{
			width: 100%;
		}
		&__item-3{
			width: 100%;
		}
	}
	.seasons {
		padding-top: 51px;
		padding-bottom: 85px;
		display: grid;
		gap: 64px;
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
		align-items: center;
		text-align: center;
		&__left{
			grid-column: 1/-1;
			justify-content: center;
			align-items: center;
		}
		&__right{
			grid-column: 1/-1;
			justify-content: center;
			align-items: center;
		}
	}
}